# Virtual Environment
venv/
.venv/
env/

# Datasets & Generated Outputs
dataset/
samples/
checkpoints/
*.pth
*.pt
*.png
*.jpg
*.jpeg

# Python Cache
__pycache__/
*.py[cod]

# IDE & OS Files
.DS_Store
.vscode/
.idea/
*.swp

# Temporary Notes
to_do.txt
Dataset.txt
